<p id="notice"><%= notice %></p>

<h2>レーザー加工よろず請負処</h2>
<h1>KOBANZAME</h1>
<div class="text-center">
<%= link_to "レーザー加工を注文する", new_order_path, class: "btn btn-primary" %>
</div>

<h3>新着作例</h3>
<div class="row" style="display: -webkit-flex; display: flex; flex-wrap: wrap;" >
<% @products.each do |product| %>
  <div class="col col-sm-3 col-xs-6 ">
    <div class="panel panel-default">
      <div class="panel-body text-center">
        <%= image_tag product.design.design_file.thumb, :size => '127x127', :style => 'object-fit: cover' %>
        <table class="table" border="0">
          <tbody>
            <tr><th><%= product.name %></th></tr>
            <tr><th>価格</th><th>￥<%= product.price %></th></tr>
          </tbody>
        </table>
      </div>
      <div class="panel-footer">
        <p>
          <div class="text-center">
            <%= link_to "購入", new_order_path, class: "btn btn-primary" %>
          </div>
        </p>
      </div>
    </div>
  </div>
<% end %>
</div>

