<h1><%= t('view.admin.orders') %></h1>
<p>発注一覧です</p>

<table class="table">
  <thead>
    <tr>
      <th scope="col">発注日</th>
      <th scope="col">発注者</th>
      <th scope="col">発注名</th>
      <th scope="col">進捗</th>
      <th scope="col"></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= I18n.l order.created_at %></td>
        <td><%= order.user.name %></td>
        <td><%= order.title %></td>
        <td><%= order.progress_i18n %></td>
        <td><%= link_to '詳細', [:admin, order] %></td>
      </tr>
    <% end %>
  </tbody>
</table>
