<%= form_for(@order, :html => { :multipart => true }) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table class="table" width="90%">
    <tbody>
      <tr>
        <td colspan="2" class="active" style="text-align: center"><strong>注文について</strong></td>
      </tr>
      <tr>
        <td><%= f.label :title %></td>
        <td><%= f.text_field :title %></td>
      </tr>
      <tr>
        <td><%= f.label :comment %></td>
        <td><%= f.text_field :comment %></td>
      </tr>
      <%= fields_for @design do |d| %>
        <tr>
          <td colspan="2" class="active" style="text-align: center"><strong>設計図</strong></td>
        </tr>
        <tr>
          <td><%= d.label :name %></td>
          <td><%= d.text_field :name %></td>
        </tr>
        <tr>
          <td><%= d.label :design_file %>※Adobe Illustrator形式</td>
          <td><%= d.file_field :design_file %></td>
        </tr>
      <% end %>
      <%= fields_for @product do |p| %>
        <tr>
          <td colspan="2" class="active" style="text-align: center"><strong>素材</strong></td>
        </tr>
        <tr>
          <td><%= p.label "素材" %></td>
          <td>
            <%= p.collection_select :material_id, Material.all, :id, :name %>
          </td>
        </tr>
      <% end %>
      <tr>
        <td colspan="2" class="active" style="text-align: center"><strong>発送先</strong></td>
      </tr>
      <tr>
        <td><%= f.label :postal_code %></td>
        <td><%= f.text_field :postal_code %></td>
      </tr>
      <tr>
        <td><%= f.label :recipient_name %></td>
        <td><%= f.text_field :recipient_name %></td>
      </tr>
      <tr>
        <td><%= f.label :tel %></td>
        <td><%= f.text_field :tel %></td>
      </tr>
      <tr>
        <td><%= f.label :address_1 %></td>
        <td><%= f.text_field :address_1 %></td>
      </tr>
      <tr>
        <td><%= f.label :address_2 %></td>
        <td><%= f.text_field :address_2 %></td>
      </tr>
    </tbody>
  <table>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>