<h1>発注確認</h1>
<p>発注確認しましょう！</p>

<%= form_for(@order, :html => { :multipart => true }) do |f| %>

  <table class="table" width="90%">
    <tbody>
      <tr>
        <td colspan="2" class="active" style="text-align: center"><strong>注文について</strong></td>
      </tr>
      <tr>
        <td><%= f.label :title %></td>
        <td><%= @order.title %></td>
        <%= f.hidden_field :title %>
      </tr>
      <tr>
        <td><%= f.label :comment %></td>
        <td><%= @order.comment %></td>
        <%= f.hidden_field :comment %>
      </tr>
      <%= fields_for @design do |d| %>
        <tr>
          <td colspan="2" class="active" style="text-align: center"><strong>設計図</strong></td>
        </tr>
        <tr>
          <td><%= d.label :name %></td>
          <td><%= @design.name %></td>
          <%= d.hidden_field :name %>
        </tr>
        <tr>
          <td><%= d.label :design_file %></td>
          <td><%= image_tag @design.design_file.thumb, :size => '255x255', :style => 'object-fit: cover' %></td>
          <%= hidden_field_tag :"cache[design_file]", @design.design_file.cache_name %>
        </tr>
      <% end %>
      <%= fields_for @product do |p| %>
        <tr>
          <td colspan="2" class="active" style="text-align: center"><strong>素材</strong></td>
        </tr>
        <tr>
          <td><%= p.label "素材" %></td>
          <td>
            <%= Material.find(@product.material_id).name %>
          </td>
          <%= p.hidden_field :material_id %>
        </tr>
      <% end %>
      <tr>
        <td colspan="2" class="active" style="text-align: center"><strong>発送先</strong></td>
      </tr>
      <tr>
        <td><%= f.label :postal_code %></td>
        <td><%= @order.postal_code %></td>
        <%= f.hidden_field :postal_code %>
      </tr>
      <tr>
        <td><%= f.label :recipient_name %></td>
        <td><%= @order.recipient_name %></td>
        <%= f.hidden_field :recipient_name %>
      </tr>
      <tr>
        <td><%= f.label :tel %></td>
        <td><%= @order.tel %></td>
        <%= f.hidden_field :tel %>
      </tr>
      <tr>
        <td><%= f.label :address_1 %></td>
        <td><%= @order.address_1 %></td>
        <%= f.hidden_field :address_1 %>
      </tr>
      <tr>
        <td><%= f.label :address_2 %></td>
        <td><%= @order.address_2 %></td>
        <%= f.hidden_field :address_2 %>
      </tr>
    </tbody>
  <table>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>