<%= form_for(material) do |f| %>
  <% if material.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(material.errors.count, "error") %> prohibited this material from being saved:</h2>

      <ul>
      <% material.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :content_type %>
    <%= f.number_field :content_type %>
  </div>

  <div class="field">
    <%= f.label :content_value %>
    <%= f.text_area :content_value %>
  </div>

  <div class="field">
    <%= f.label :status %>
    <%= f.number_field :status %>
  </div>

  <div class="field">
    <%= f.label :internal_comment %>
    <%= f.text_area :internal_comment %>
  </div>

  <div class="field">
    <%= f.label :external_comment %>
    <%= f.text_area :external_comment %>
  </div>

  <div class="field">
    <%= f.label :created_user_id %>
    <%= f.number_field :created_user_id %>
  </div>

  <div class="field">
    <%= f.label :updated_user_id %>
    <%= f.number_field :updated_user_id %>
  </div>

  <div class="field">
    <%= f.label :active %>
    <%= f.number_field :active %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
