<p id="notice"><%= notice %></p>

<h1>Products</h1>

<div class="row" style="display: -webkit-flex; display: flex; flex-wrap: wrap;" >
  <% @products.each do |product| %>
    <div class="col col-sm-3 col-xs-6 ">
      <div class="panel panel-default">
        <div class="panel-body text-center">
          <%= link_to image_tag(product.design.design_file.thumb, :border => '0', :size => '127x127', :style => 'object-fit: cover'), product %>
        </div>
          <table class="table" border="0">
            <tbody>
              <tr><th><%= product.name %></th><th></th></tr>
              <tr><th>価格</th><th>￥<%= product.price %></th></tr>
            </tbody>
          </table>
      </div>
    </div>
  <% end %>
</div>

<br>

<%= link_to '新規追加', new_product_path %>

